.body {background: #f8f8f8; margin: 0; }
html, body {height: 100%;}
.gnb_btn_wrap, .lnb_btn_wrap, .tab_btn_wrap {display: flex;}
.bg {
   position: absolute; z-index: -1;
   left: 0; top: 0; width: 100%; height: 400px;
   background: #eee;
}
.nav_contain_bg {
   position: fixed; display: none;
   left: 0; top: 0; width: 100%; height: 56px;
   background: white;

}
.logo {padding: .5rem 1rem;}
.nav_contain {
  position: fixed;
  z-index: 5;
  padding: 4px 0;
  display: flex; justify-content: space-between;
  width:100%;
  @media(min-width:1280px) {
     width: 1280px;
     left:50%; transform: translateX(-50%);
 }
}

.gnb_btn_wrap {
  display: flex;
  position: relative; z-index: 10;
}
.slidingTab {padding: 10px 1rem;}
.tab_btn_wrap {
   .tab_btn {padding: 1rem 1.5rem; }
   position: fixed; z-index: 5;
   display: flex; align-items: center;
   // width: 100%;
}
.tab_content {

}
.slidingTab {
   position: absolute; z-index: -1; left:0; height: 10px; background: tan;
   transition: all .3s ease;
}

.gnb_btn, .lnb_btn {
   padding: 1rem;
   @media(max-width: 1280px) {
      padding: 1rem 0;
   }
   display: flex; flex-direction: column;
}
.lnb_btn_wrap {
   .lnb_btn {
      a {padding: 0 0 1rem;}
   }
   background: white;
   max-height: 0; overflow:hidden;
   position: relative;
}
.hide {display: none;}
.show {display: block;}

.gnb_wrap {
  display: flex; flex-direction: column;
  z-index: 10;
  @media(max-width: 1280px) {
     visibility: hidden;
 }
}


section {
  max-width: 1280px; margin: 0 auto;
}
.gnb_toggle_contain {
  background: white; padding: 1rem;
  position: fixed; z-index: 10;
  top: 0; right: 0;
}
.gnb_toggle_btn {
   z-index: 6;
   padding-right: 1rem;
}
.gnb_toggle_btn, .gnb_m_contain_close {
  font-size: 2rem;
}
