.body {background: #f8f8f8; margin: 0;}
.gnb_btn_wrap, .lnb_btn_wrap, .tab_btn_wrap {display: flex;}

.nav_contain {
  position: fixed;
  z-index: 2;
  display: flex; justify-content: space-between;
  width:100%;
}

.gnb_btn_wrap {
  display: flex;
}
.tab_btn_wrap {
  position: fixed;
}
.slidingTab {position: absolute; z-index: -1; left:0; height: 10px; background: tan; transition: all .3s ease;}

.lnb_btn_wrap {
  background: white;
}
.gnb_btn, .lnb_btn, .tab_btn {padding: .5rem;}
.lnb_btn_wrap {border: 1px solid tan; max-height: 0; overflow:hidden; transition: all .3s ease;}
.hide {display: none;}
.show {display: block;}

.gnb_wrap {
  display: flex; flex-direction: column;
}
